<h1>User's Profile</h1>
<h2>Username <%= userData.username %></h2>
<img src="/uploads/<%= userData.picture %>" width="150" />
<h2>Bio <%= userData.Bio %></h2>
<h2>Birthday <%= userData.birthday %></h2>
<a href="/users/<%= userData._id %>/edit">Edit Profile</a>

<h1>settings</h1>
<h2>Password <%= '•'.repeat(8)%></h2>
<a href="/auth/user._id/update-password">Change password</a>
<a href="/post/new">add post</a>

<% userData.posts.forEach((post)=> { %>
  <br>
  <br>
<img src="/uploads/<%= post.picture %>" />
<p><%= post.description %></p>
<br>

<%}) %>
