<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= userData.username %>'s Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      #profileImage {
        border: solid 1px black;
      }
      .profile {
        background-color: rgb(239, 232, 232);
      }
      .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .card {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="container mt-5 profile shadow-lg position-relative">
      <div class="dropdown position-absolute" style="top: 15px; right: 10px">
        <a
          href="#"
          role="button"
          id="settingsDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          title="Settings"
        >
          <img
            src="/uploads/setting.png"
            style="width: 1.5em; height: 1.5em"
            alt="setting icon"
          />
        </a>

        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="settingsDropdown"
        >
          <li>
            <a
              class="dropdown-item"
              href="/auth/<%= userData._id %>/update-password"
              >Update Password</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="/settings/theme">Theme Option</a>
          </li>
          <li>
            <a href="/users/<%= userData._id %>/edit" class="dropdown-item"
              >Edit Profile</a
            >
          </li>
          <li>
            <a href="/auth/sign-out" class="dropdown-item">Sign out</a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center mb-4">
        <img
          src="/uploads/<%= userData.picture %>"
          class="rounded-circle me-4"
          style="width: 120px; height: 120px"
          alt="Profile Picture"
          id="profileImage"
        />
        <div>
          <h3 class="mb-1"><%= userData.username %></h3>
          <div class="d-flex mb-3 text-center">
            <div class="me-4">
              <strong><%= userData.posts.length %></strong>
              <small>Posts</small>
            </div>
            <div class="me-4">
              <strong
                ><%= userData.followers ? userData.followers.length : 0
                %></strong
              >
              <small>Followers</small>
            </div>
            <div>
              <strong
                ><%= userData.following ? userData.following.length : 0
                %></strong
              >
              <small>Following</small>
            </div>
          </div>
          <p class="mb-1"><%= userData.bio %></p>
        </div>
      </div>
      <div class="row g-1">
        <% userData.posts.forEach((post) => { %>
        <div class="col-12 col-sm-6 col-md-4" >
          <div class="card">
            <a href="/posts/<%= post._id%>"
              ><img
                src="/uploads/<%= post.picture %>"
                class="card-img-top"
                alt="User Post"
            /></a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
