 <%- include("../partials/header.ejs") %>

<h2>All Posts</h2>

  <% posts.forEach(post => { %>
  
    <a href="/post/<%= post._id %>">
      <br><br>
      <img src="/uploads/<%= post.picture %> " style="width:15em; height:15em;" /></a>
      <p><%= post.description %> </p>
  
  <% }) %>

   <%- include("../partials/footer") %>

